.about {
  background-color: #282828;
}

.about h2 {
  padding-bottom: 50px;
}

.aboutImg {
  width: 35%;
}

.about img {
  width: 100%;
  display: block;
}

.aboutImgTxt {
  display: flex;
  justify-content: center;
}

.hiddenPortImg {
  display: none;
}

.aboutTxt {
  width: 50%;
  padding-left: 20px;
  align-self: center;
}
