.contact {
  background-color: $orangeColour;
}

.contact h2 {
  color: $whiteColour;
  padding-bottom: 50px;
}

.contact p {
  text-align: center;
}

.contact ul {
  justify-content: center;
}

.contact ul li a {
  padding: 20px;
  font-size: 1.5rem;
}

.contact ul li a:hover {
  background-color: transparent;
  border: 1px solid $whiteColour;
}

.email a {
  font-size: 1.5rem;
}
