header {
  height: 100vh;
  background-color: #2a2a2a;
}

header h2 {
  text-align: left;
  color: #a3a3a3;
}

.headerIcon {
  position: absolute;
  bottom: 0;
  left: 49%;
}

.landingWords {
  padding-top: 25%;
}

.secondP {
  padding-top: 30px;
}

// .logo path:nth-child(1) {
//   stroke-dasharray: 30px;
// }

// .logo path:nth-child(2) {
//   stroke-dasharray: 30px;
// }

// .logo path:nth-child(3) {
//   stroke-dasharray: 30px;
// }

// .logo path:nth-child(4) {
//   stroke-dasharray: 30px;
// }
