.projects {
  background-color: $bgColourTwo;
}

.projects h2 {
  padding-bottom: 50px;
}

.wipH3 {
  padding-bottom: 70px;
  text-align: center;
  color: $orangeColour;
}

.projectsIcons img {
  width: 25px;
  height: 25px;
}

.projects li {
  line-height: 0;
  padding: 0 5px;
}

.projects li:first-child {
  padding-left: 0;
}

.view {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}

.view p {
  padding-right: 20px;
}

.screenShots {
  width: 50%;
  display: block;
}

.screenShots img{
  width: 100%;
}

.projectGrouping {
  display: flex;
  margin-bottom: 30px;
  width: 100%;
}

.projectGrouping .even {
  order: 1;
}

.projectTxt {
  padding-left: 40px;
  width: 50%;
}

.evenTxt {
  padding-left: 0;
  padding-right: 40px;
}

.evenGroup {
  margin: 10% 0;
}

.projects p {
  padding-bottom: 20px;
}
