.skills h2 {
  padding-bottom: 50px;
}

.icon img {
  width: 100px;
  margin: 20px 2.5rem;
}

.icon {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
}

.skills {
  background-color: $bgColourOne;
}

.iconGrp {
  min-width: 16%;
}
