html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*,
h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}

* {
  color: white;
  font-family: "Exo 2", sans-serif;
  font-size: 125%;
  letter-spacing: 1px;
  line-height: 130%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.wrapper {
  max-width: 1500px;
  width: 80%;
  margin: 0 auto;
}

section {
  padding-top: 40px;
  padding-bottom: 40px;
}

p,
a {
  font-size: 0.9rem;
}

h2 {
  font-size: 3rem;
  color: #e0674e;
  text-align: center;
  padding-bottom: 20px;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: white;
  border: 1px solid #e0674e;
  border-radius: 5px;
  padding: 5px;
}

a:hover {
  color: #e0674e;
  border-color: white;
}

header {
  height: 100vh;
  background-color: #2a2a2a;
}

header h2 {
  text-align: left;
  color: #a3a3a3;
}

.headerIcon {
  position: absolute;
  bottom: 0;
  left: 49%;
}

.landingWords {
  padding-top: 25%;
}

.secondP {
  padding-top: 30px;
}

.about {
  background-color: #282828;
}

.about h2 {
  padding-bottom: 50px;
}

.aboutImg {
  width: 50%;
}

.about img {
  width: 100%;
}

.aboutImgTxt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutTxt {
  width: 50%;
  padding-left: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.projects {
  background-color: #2a2a2a;
}

.projects h2 {
  padding-bottom: 50px;
}

.projectsIcons img {
  width: 25px;
  height: 25px;
}

.projects li {
  line-height: 0;
  padding: 0 5px;
}

.projects li:first-child {
  padding-left: 0;
}

.view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}

.view p {
  padding-right: 20px;
}

.screenShots img {
  width: 100%;
}

.projectGrouping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.projectGrouping .odd {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.projectTxt {
  padding-left: 40px;
}

.oddTxt {
  padding-left: 0;
  padding-right: 40px;
}

.projects p {
  padding-bottom: 20px;
}

.skills h2 {
  padding-bottom: 50px;
}

.icon img {
  width: 100px;
  margin: 20px 2.5rem;
}

.icon {
  text-align: center;
}

.skills {
  background-color: #282828;
}

.contact {
  background-color: #e0674e;
}

.contact h2 {
  color: white;
  padding-bottom: 50px;
}

.contact p {
  text-align: center;
}

.contact ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact ul li a {
  padding: 20px;
  font-size: 1.5rem;
}

footer {
  background-color: #2a2a2a;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
