html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2.5em;
  margin: 0.67em 0;
}

main {
  display: block;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

img {
  border-style: none;
}

button {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button {
  overflow: visible;
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*,
h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}

* {
  color: white;
  font-family: "Exo 2", sans-serif;
  font-size: 125%;
  letter-spacing: 1px;
  line-height: 130%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.wrapper {
  max-width: 1500px;
  width: 80%;
  margin: 0 auto;
}

section {
  padding-top: 40px;
  padding-bottom: 40px;
}

p,
a {
  font-size: 0.9rem;
}

h2 {
  font-size: 3rem;
  color: #e0674e;
  text-align: center;
  padding-bottom: 20px;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: white;
  border: 1px solid #e0674e;
  background-color: #e0664e94;
  border-radius: 5px;
  padding: 5px;
}

a:hover {
  color: #e0674e;
  background-color: rgba(255, 255, 255, 0.822);
  -webkit-transition: 1s;
  transition: 1s;
}

header {
  height: 100vh;
  background-color: #2a2a2a;
}

header h2 {
  text-align: left;
  color: #e0674e;
}

.headerIcon {
  position: absolute;
  bottom: 0;
  left: 49%;
}

.landingWords {
  padding-top: 25%;
}

.secondP {
  padding-top: 30px;
}

.nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.navContainer {
  position: fixed;
  top: -11%;
  right: 0;
  width: 100%;
  height: 210px;
  background: rgba(0, 0, 0, 0.842);
  color: white;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  list-style: none;
  padding-top: 4rem;
  z-index: 90;
}

.showNav {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.hamburger {
  position: absolute;
  right: 5%;
  top: 15%;
  z-index: 99;
}

.barOne,
.barTwo,
.barThree {
  width: 36px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.clicked .barOne {
  -webkit-transform: rotate(-45deg) translate(-8px, 8px);
          transform: rotate(-45deg) translate(-8px, 8px);
  background-color: #e0674e;
}

.clicked .barTwo {
  opacity: 0;
}

.clicked .barThree {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
          transform: rotate(45deg) translate(-8px, -8px);
  background-color: #e0674e;
}

header a {
  background: none;
  border: none;
}

header a:hover {
  background: none;
}

.headerIcon i {
  color: #e0674e;
}

.headerIcon {
  position: absolute;
  bottom: 2%;
  right: 49%;
  font-size: 2rem;
  -webkit-animation: bop 1600ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
          animation: bop 1600ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

@-webkit-keyframes bop {
  0% {
    opacity: 100;
  }
  50% {
    -webkit-transform: translateY(-1.5rem);
            transform: translateY(-1.5rem);
    opacity: 0;
  }
}

@keyframes bop {
  0% {
    opacity: 100;
  }
  50% {
    -webkit-transform: translateY(-1.5rem);
            transform: translateY(-1.5rem);
    opacity: 0;
  }
}

.logo {
  -webkit-animation: fill 0.5s ease forwards 3.5s;
          animation: fill 0.5s ease forwards 3.5s;
}

.logo path:nth-child(1) {
  stroke-dasharray: 298.1px;
  stroke-dashoffset: 298.1px;
  -webkit-animation: lineAni 2s ease forwards;
          animation: lineAni 2s ease forwards;
}

.logo path:nth-child(2) {
  stroke-dasharray: 215.1px;
  stroke-dashoffset: 215.1px;
  -webkit-animation: lineAni 2s ease forwards 0.3s;
          animation: lineAni 2s ease forwards 0.3s;
}

.logo path:nth-child(3) {
  stroke-dasharray: 157.1px;
  stroke-dashoffset: 157.1px;
  -webkit-animation: lineAni 2s ease forwards 0.6s;
          animation: lineAni 2s ease forwards 0.6s;
}

.logo path:nth-child(4) {
  stroke-dasharray: 202.1px;
  stroke-dashoffset: 202.1px;
  -webkit-animation: lineAni 2s ease forwards 0.9s;
          animation: lineAni 2s ease forwards 0.9s;
}

.logo path:nth-child(5) {
  stroke-dasharray: 194.1px;
  stroke-dashoffset: 194.1px;
  -webkit-animation: lineAni 2s ease forwards 1.2s;
          animation: lineAni 2s ease forwards 1.2s;
}

.logo path:nth-child(6) {
  stroke-dasharray: 202.1px;
  stroke-dashoffset: 202.1px;
  -webkit-animation: lineAni 2s ease forwards 1.5s;
          animation: lineAni 2s ease forwards 1.5s;
}

.logo path:nth-child(7) {
  stroke-dasharray: 183.1px;
  stroke-dashoffset: 183.1px;
  -webkit-animation: lineAni 2s ease forwards 1.8s;
          animation: lineAni 2s ease forwards 1.8s;
}

.logo path:nth-child(8) {
  stroke-dasharray: 310.1px;
  stroke-dashoffset: 310.1px;
  -webkit-animation: lineAni 2s ease forwards 2.1s;
          animation: lineAni 2s ease forwards 2.1s;
}

@-webkit-keyframes lineAni {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes lineAni {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: #e0674e;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: #e0674e;
  }
}

.about {
  background-color: #282828;
}

.about h2 {
  padding-bottom: 50px;
}

.aboutImg {
  width: 35%;
}

.about img {
  width: 100%;
}

.aboutImgTxt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aboutTxt {
  width: 50%;
  padding-left: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.projects {
  background-color: #2a2a2a;
}

.projects h2 {
  padding-bottom: 50px;
}

.projectsIcons img {
  width: 25px;
  height: 25px;
}

.projects li {
  line-height: 0;
  padding: 0 5px;
}

.projects li:first-child {
  padding-left: 0;
}

.view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}

.view p {
  padding-right: 20px;
}

.screenShots img {
  width: 100%;
  display: block;
}

.projectGrouping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.projectGrouping .even {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.projectTxt {
  padding-left: 40px;
}

.evenTxt {
  padding-left: 0;
  padding-right: 40px;
}

.evenGroup {
  margin: 10% 0;
}

.projects p {
  padding-bottom: 20px;
}

.skills h2 {
  padding-bottom: 50px;
}

.icon img {
  width: 100px;
  margin: 20px 2.5rem;
}

.icon {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills {
  background-color: #282828;
}

.iconGrp {
  min-width: 16%;
}

.contact {
  background-color: #e0674e;
}

.contact h2 {
  color: white;
  padding-bottom: 50px;
}

.contact p {
  text-align: center;
}

.contact ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact ul li a {
  padding: 20px;
  font-size: 1.5rem;
}

.contact ul li a:hover {
  background-color: transparent;
  border: 1px solid white;
}

.email {
  font-size: 1.5rem;
}

footer {
  background-color: #2a2a2a;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

@media (max-width: 992px) {
  .projectGrouping {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px;
    border: 1px solid #e0664e88;
  }
  .projectGrouping .even {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .projectTxt {
    padding: 20px 0 0;
  }
  .project h3 {
    padding-bottom: 15px;
  }
  .projectTxt {
    text-align: center;
  }
  .view,
  .projectsIcons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
